@import url('https://fonts.googleapis.com/css2?family=Gelasio:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gelasio', serif;
}
.navbar{
    width: 100%;
    display: flex;
    position: fixed;
    background-color: white;
    z-index: 1000;
}
nav{
    align-items: center;
    justify-content: space-between;
    margin: auto;

}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 0 30px;
}
nav ul li a{
    text-decoration: none;
    font-size: 18px;
    color: black;
    font-weight: bold;

}
.container{
    position: relative;
    text-align: center;
    color: white;
}
.container h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
}
.container .btn{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 180px;
    background-color: rgb(226, 155, 23);
    padding: 15px;
    margin-top: 20px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 30px;
    border: transparent;
}
.container .btn:hover{
    background-color: blueviolet;
    cursor: pointer;
}
.content{
    width: 100%;
    margin-bottom: 30px;

}
.row{
    display: flex;
}
.col-3{
    flex-basis: 30%;
    float: left;
    margin: 10px;
}
.content h1{
    text-align: center;
    margin: 20px;
    padding: 15px;
}
.images{
    width: 640px;
    height: 427px;
}
.col-3 a{
    text-decoration: none;
    margin-top: 22px;
    border: 2px solid light yellowgreen;
    width: 180px;
    padding: 8px;
    background-color: rgb(190, 190, 10);
    display: inline-block;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;

}
.footer{
    background-color: rgb(2, 2, 29);
    width: 100%;
    position: relative;
    border-bottom: 1px solid white;
    
}
.footer .row{
    display: flex;
    
}
.footer .row .col-4{
    flex-basis: 25%;
    float: left;
}
.footer .row .col-4 ul li{
    list-style: none;
    text-align: center;


}
.footer .row .col-4 ul li a{
    text-decoration: none;
    color: #fff;
    margin: 20px;
    line-height: 22px;
}
h6{
    color: antiquewhite;
    text-align: center;
    margin-bottom: 20px;
    text-decoration: underline;
    margin-top: 20px;
}
.close{
    background-color: rgb(2, 2, 29);
    color: white;
    margin-top: 0px;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;

}
